
/* CSS reset */
html{
	zoom:80%;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

nav{
  margin-left: 10rem;
}

html, body {
            height: 100%;
            margin: 0;
            padding: 0;
        }

html{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


li{
	list-style-type: none;
}

.fadein {
    opacity:0;
}

/* 90 degree hashtag and social icons side to side*/



#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
	margin-top: 15rem;
  text-decoration: none;
  font-size: 17px;

  transform: rotate(-90deg);

  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(-90deg);

  /* Firefox */
  -moz-transform: rotate(-90deg);

  /* IE */
  -ms-transform: rotate(-90deg);

  /* Opera */
  -o-transform: rotate(-90deg);

  /* Internet Explorer */
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
}

#navbar a:hover {
  background-color: #ddd;
  color: black;
}

#navbar a.active {
  background-color: #transparent;
  color: black;
	font-family: "Montserrat";
	font-size: 0.75rem;
	font-weight: 400;

}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}



.socialcolor{
	color: black;
}


#active2{
	position: absolute;
margin-left: 104rem;
	color: black;
	font-size: 2rem;
	min-width: 8.8125rem;

}



.rayablanca{position: absolute;

	margin-left: -6rem;
	margin-top: .4rem;
	color: black;
}






.logoar{
	display: inline-block;
	position:static;
	width: 20.0625rem;
	height: auto;
	margin-right: 29.75rem;
	margin-left: 10.125rem;
	margin-top: 0;
	padding-top: 2rem;


}

.navigation{
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
}


.nav1 , .nav2 , .nav3 , .nav4 , .nav5 , .nav6 {
	margin-top: -3rem;
	padding-top: 0;
	padding-right: 2.0625rem;
	color: black;
	font-family: 'Montserrat';

}



.nav2{
	background-color: transparent;
	margin-top: -3.1rem;

}

.dropbtn {
  background-color: transparent;
  color: black;
  font-size: 16px;
  border: none;
	padding: 0;
}

.dropdown {
  position: relative;
  display: inline-block;
	background-color: none;
	padding: 0;

}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #transparent;}



/* sECTION1 */

.container2{
	margin-top: 3.6875rem;
	margin-bottom: 4.25rem;
	width: 66.938rem;
	height: 20.063rem;
	margin-left: auto;
	margin-right: auto;

}

.talleresar{
	/* Style for "<Bitmap>" */
width: 66.938rem;
height: 20.063rem;
margin-left: auto;
margin-right: auto;
}



/* Segunda seccion donde hay BIO */
h5.h5bold{
	/* Style for "CONÓCEME" */
text-transform: uppercase;
/* Text style for "CONÓCEME" */
color: #262626;
font-family: "Montserrat";
font-size: 3rem;
font-weight: bold;
text-align: center;
margin-top: 4.25rem;
}



.subtitulo{
	text-align: center;
	color: #262626;
	font-family: "Montserrat";
	font-size: 1.5rem;
	margin-top: 0.5rem;

}
.subtitulo2{
	text-align: center;
	color: #262626;
	font-family: "Montserrat";
	font-size: 1.2rem;
  margin-top: .5rem;
	padding-top: 0;
margin-bottom:5.9375rem;
}

.empresarialp{
	margin: 4.0625rem 24.8125rem 5.8125rem 25.0625rem;
	text-align: center;
}



.container3{
	display: flex;
	flex-direction: row;

}


.highlighti {
	border-right: .063rem solid #262626;
	padding: 2rem 7.875rem 6.9375rem 17.0625rem;
	font-family: "Montserrat";
	margin-bottom: 5.5625rem;

}

.highlightp{
	padding: 2rem 16.75rem 6.9375rem 6.6875rem;
	font-family: "Montserrat";

}


.container4{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.box5 {
	background-color: #efefef;
	width: 100%;
height: 31.25rem;
padding: 0 0 0 0;
margin: 0 0 0 0;
}

.box6 {
	width: 100%;
  height: 31.25rem;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.filler{
	padding: 8.375rem 7.6875rem 7.3125rem 15.3125rem;

}

.franjablanca{
	width: inherit ;
	height: 15.3125rem;
}




.twoimages{
display: flex;
flex-direction: row;
justify-content: center;
margin-top: 5.375rem;
padding-top: 4.25rem;
padding-bottom: 8.625rem;
background-color: #ffd3be;
}

.box3{
	padding-right: 2.90625rem;
}

.box4{
	padding-left: 2.90625rem;
}

.mailchimpdiv{
	width: inherit;
	height: 32.5rem;
	background-color: #262626;

}

.h2franja{

text-transform: uppercase;
/* Text style for "CAMBIO DE" */
color: #000000;
font-family: "Montserrat";
font-size: 1.438rem;
font-weight: bold;
text-align: center;
margin-top: 8.1875rem;

}

.h3franja{

/* Text style for "PERSONALIZ" */
color: #000000;
font-family: "Montserrat";
font-size: 1rem;
font-weight: 400;
text-align: center;
margin-bottom: 1.75rem;

}

.h4franja{

color: #707070;
font-family: "Roboto Light";
font-size: 0.813rem;
font-weight: 300;
text-align: center;
padding-left: 14.3125rem;
padding-right: 14.3125rem;
}

.agendarcita{
	position:sticky;
width: 7.875rem;
height: 2.063rem;
background-color: #262626;
color: white;
margin-top: 2.9375rem;
margin-bottom: 5.875rem;


}

.slidertitulo{
text-align: center;
color: #262626;
font-family: "Montserrat";
font-size: 3rem;
font-weight: bold;
margin-top: 6.6875rem;
margin-bottom: 5.5625rem;
}

/* Mailchimp style */
.mailchimpdiv{
	width: inherit;
	height: 32.5rem;
	background-color: #262626;
	margin-top: 4.875rem;

}

.contactotitle{
text-align: center;
color: #ffffff;
font-family: "Montserrat";
font-size: 1.313rem;
font-weight: 400;
letter-spacing: 0.063rem;
padding-top: 3.375rem;
margin-bottom: 1.75rem;
}

.contactosubtitle{
text-align: center;
color: #ffffff;
font-family: "Montserrat";
font-size: 0.875rem;
font-weight: 400;
margin-bottom: 3.1875rem;
}

label {
	color: white;
	font-family: 'Montserrat';
}


.mc-field-group{
	text-align: center;

}

.inlinemail{
	display: inline-block;
}

.mailcenter{
	text-align: center;
  margin-bottom:3rem ;
}


label{
	margin-right: 1.6875rem;

}


#mce-FNAME{
	background-color:  #262626;
  width: 20.625rem;
	height: 1.5rem;
	border: 0.063rem solid #ffffff;
}
#mce-EMAIL{
		background-color: #262626;
	  width: 20.625rem;
		height: 1.5rem;
		margin-right: 4.875rem;
		border: 0.063rem solid #ffffff;
}
#mce-MMERGE2{
		background-color: #262626;
		margin-right: 0rem;
		width: 53.25rem;
    height: 3.5rem;
		border: 0.063rem solid #ffffff;
		margin-bottom: 2.625rem;
}

.buttonmail {
	margin-left: 50%;
width: 5rem;
height: 1.688rem;
background-color: #ffffff;
color: #262626;
font-family: "Montserrat";
font-size: 0.625rem;
font-weight: bold;
border-radius: .2rem;
}

.whatsappbutton{
  position: absolute;
	margin-left: 12.3rem;
	color: white;
font-size: 2rem;
font-weight: 400;

}

.tel{
color: #ffffff;
font-family: "Montserrat";
font-size: 1.2rem;
font-weight: 400;
}


.customborder{
  width: 70.5rem;
	 border-bottom: 0.038333333333rem solid white;
	 margin-left: 16%;
	 margin-right: auto;
	 margin-top: 2.5625rem;
}


.containerfooter{
	display: flex;
	flex-direction: row;
	justify-content: space-around;

}


.sociallinks{
	text-decoration: none;
	color: white;
}

.box5 {
	color: white;
	margin-top: 3.5rem;
color: #808080;
font-family: "Montserrat";
font-size: 0.563rem;
font-weight: 400;

}

.box6{
	color: white;
	margin-top: 3.5rem;

font-family: "Montserrat";
font-size: 0.875rem;
font-weight: 400;


}

.box7{
	color: white;
	margin-top: 3.5rem;


}







/* Media queries */
@media only screen and (max-width: 798px){
	html, body{
	margin: 0;
	}


.mailchimpdiv{
	width: 100%;
	margin-right: 0;
	padding-right: 0;
}




/* Mailchimp mobile style */
.mailchimpdiv{
	width: inherit;
	height: 35.5rem;
	background-color: #262626;
	margin-top: 4.875rem;

}

.contactotitle{
text-align: center;
color: #ffffff;
font-family: "Montserrat";
font-size: 1.313rem;
font-weight: 400;
letter-spacing: 0.063rem;
padding-top: 3.375rem;
margin-bottom: 1.75rem;
}

.contactosubtitle{
text-align: center;
color: #ffffff;
font-family: "Montserrat";
font-size: 0.875rem;
font-weight: 400;
margin-bottom: 3.1875rem;
}

label {
	color: white;
	font-family: 'Montserrat';
}


.mc-field-group{
	text-align: center;

}

.inlinemail{
	display: inline-block;
}

.mailcenter{
	text-align: center;
  margin-bottom:3rem ;
}


label{
	margin-right: 0;
	padding-right: 0;

}

#mce-FNAME{
	background-color:  #262626;
  width: 20.625rem;
	height: 1.5rem;
	border: 0.063rem solid #ffffff;
	margin-left: 4.7rem;
}
#mce-EMAIL{
		background-color: #262626;
	  width: 20.625rem;
		height: 1.5rem;
		margin-right: 0;
		margin-left: 4.5rem;
		margin-bottom: 2rem;
}
#mce-MMERGE2{
	background-color: #262626;
	width: 20.625rem;
	height: 1.5rem;
	margin-right: 0;
	margin-left: 4.5rem;
	margin-bottom: 2rem;
}

.buttonmail {
	margin-left: 50%;
width: 5rem;
height: 1.688rem;
background-color: #ffffff;
color: #262626;
font-family: "Montserrat";
font-size: 0.625rem;
font-weight: bold;
border-radius: .2rem;
}

.whatsappbutton{
	display: none;
  position: absolute;
	margin-left: 12.3rem;
	color: white;
font-size: 2rem;
font-weight: 400;

}

.tel{
	display: none;
color: #ffffff;
font-family: "Montserrat";
font-size: 1.2rem;
font-weight: 400;
}


.customborder{
	display: none;
  width: 70.5rem;
	 border-bottom: 0.038333333333rem solid white;
	 margin-left: 16%;
	 margin-right: auto;
	 margin-top: 2.5625rem;
}


.containerfooter{

	display: flex;
	flex-direction: row;
	justify-content: space-around;

}


.sociallinks{
	text-decoration: none;
	color: white;
}

.boxy {
	color: white;
	margin-top: 3.5rem;
color: #808080;
font-family: "Montserrat";
font-size: 0.563rem;
font-weight: 400;

}

.boxz{
	color: white;
	margin-top: 3.5rem;

font-family: "Montserrat";
font-size: 0.875rem;
font-weight: 400;


}

.boxw{
	color: white;
	margin-top: 3.5rem;


}







}
